<br>
<br>
<br>
<div class = "block">
<label id="email" ><b>Email</b></label>
<input type="text" placeholder="Enter Username" name="email" required>
</div>
<br><br>


<div class = "block">
<label id="uname" ><b>Username</b></label>
<input type="text" placeholder="Enter Username" name="uname" required>
</div>
<br><br>

<div class = "block">
<label id="pword"><b>Password</b></label>
<input type="text" placeholder="Enter Password" name="pword" required>
  <button (click)="sendMessage()">Register</button>
</div>
