<! -- Login component -->
<div class="col-lg-12 text-center">

  <!-- Username Box -->
  <label for="uname"><b>Username</b></label>
  <div id = "uname">
    <input type="text" placeholder="Enter Username" name="uname" required>
  </div>
  <br><br>

  <!-- Password Box-->
  <label for="pword"><b>Password</b></label>
  <div id = "pword">
    <input type="text" name="pword" placeholder="Enter Password" required>
  </div>

  <!-- Submit button -->
  <button onclick="goToLobby()">Sign in</button>
  <p>Don't have an account? <a href="register.html">Register here</a></p>

</div>
