<!-- Left hand Chat Room Selection -->
<chatmenu (selectChatRoom)="selectChatRoom($event)"></chatmenu>

<!-- Big Container to hold the messages -->
  <div class = "messagebox">
    <div class="individual-box" *ngFor = "let message of chatMsgs">
      <div class="messagebox-header">
        <h5 class = "messagebox-title">User ID: {{message.user_id}}</h5>
        <!-- <div class = "messagebox-time">{{message.message_time}}</div> -->
      </div>
      <p class = "messagebox-text">{{message.message_content}}</p>
    </div>
</div>

<!-- Send Message section @ bottom of page -->
<div class="chat-footer">
  <!-- Text box -->
  <input id="message-input" type="text" placeholder="Type your message...">
  <!-- Send Button -->
  <button (click)="sendMessage()">Send</button>
</div>



