.chat-footer {
  margin-left: 160px;
  position: fixed;
  bottom: 0;
  width: 88%;
  padding: 10px 10px 10px 10px;
  background: #000000;
  text-align: center;
}

.chat-footer input {
  width: 88%;
}

.messagebox-header p {
  font-size: 12px;
}

.messagebox {
  left: 190px;
  top: 75px;
  position: absolute;
  overflow-y: auto;
  height: 75%;
  width: 83%;
}

.individual-box {
  background: #9fcdff;
  border-radius: 10px;
  margin: 0px 0px 10px 0px;
  padding: 10px 10px 10px 10px;
}
