
body {
  padding-top: 54px;
}
@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

/* Left Nav Bar: Chat Menu */
.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 10;
    left: 0;
    background-color: #555;
    overflow-x: hidden;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav p {
	font-size: 14;
	font-weight: bold;
	color: #FFFFFF;
	display: block;
}

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 30px 30px 30px 30px;
    width: 950px;
}

/* Right Nav Bar: Link History; */

.linknav{
	position: fixed; right: 0;
	height: 100%;
	width: 160px;
	z-index: 1;
	top: 10;
	background-color: #555;
	overflow-x: hidden;
}

.linknav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 14px;
    color: #FFFFFF;
    display: block;
}

.linknav a:hover {
    color: #f1f1f1;
}

.messagebox {
	margin-left: 160px;
	position: fixed; bottom: 0;
	width: 960px;
}

.messagebox form {
	background: #000;
	padding: 10px 10px 10px 10px;
}

.messagebox input {
	width: 885px;
}


@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

